{% set config_ecr_repos = Config.Repositories %}
AWSTemplateFormatVersion: "2010-09-09"

Description: ECR Repositories

Resources:
{% for repo_name, repo_config in config_ecr_repos.items() %}
{% set rw_accounts = repo_config.get('ReadWriteAccounts') %}
{% set ro_accounts = repo_config.get('ReadOnlyAccounts') %}
{% set rw_services = repo_config.get('ReadWriteServices') %}
{% set ro_services = repo_config.get('ReadOnlyServices') %}
  {{ repo_name | regex_replace('[^a-zA-Z0-9]', ' ') | title | regex_replace('\s', '') }}:
    Type: "AWS::ECR::Repository"
    Properties:
      RepositoryName: "{{ repo_name }}"
{% if rw_accounts or ro_accounts or rw_services or ro_services %}
      RepositoryPolicyText:
        Version: "2008-10-17"
        Statement:
{% if rw_accounts or rw_services %}
        - Sid: AllowPushPull
          Effect: Allow
          Principal:
{% if rw_accounts %}
            AWS:
{% for account in rw_accounts %}
            - "arn:aws:iam::{{ account }}:root"
{% endfor %}
{% endif %}
{% if rw_services %}
            Service:
{% for service in rw_services %}
            - "{{ service }}"
{% endfor %}
{% endif %}
          Action:
          - "ecr:GetDownloadUrlForLayer"
          - "ecr:BatchGetImage"
          - "ecr:BatchCheckLayerAvailability"
          - "ecr:PutImage"
          - "ecr:InitiateLayerUpload"
          - "ecr:UploadLayerPart"
          - "ecr:CompleteLayerUpload"
          - "ecr:DescribeImages"
          - "ecr:ListImages"
          - "ecr:DescribeRepositories"
{% endif %}
{% if ro_accounts or ro_services %}
        - Sid: AllowPull
          Effect: Allow
          Principal:
{% if ro_accounts %}
            AWS:
{% for account in ro_accounts %}
            - "arn:aws:iam::{{ account }}:root"
{% endfor %}
{% endif %}
{% if ro_services %}
            Service:
{% for service in ro_services %}
            - "{{ service }}"
{% endfor %}
{% endif %}
          Action:
          - "ecr:GetDownloadUrlForLayer"
          - "ecr:BatchGetImage"
          - "ecr:BatchCheckLayerAvailability"
          - "ecr:DescribeImages"
          - "ecr:ListImages"
          - "ecr:DescribeRepositories"
{% endif %}
{% endif %}
{% endfor %}