{% 
  macro resources(
    vpc_cidr,
    public_subnets=['public'],
    private_subnets=['medium','high','management'], 
    az_count=2, 
    subnet_size=24,
    dns_servers=[],
    domain_name='',
    vpc_root_domain='',
    private_domains=[],
    public_domains=[],
    prefix='default')
%}
{% set resource_prefix = prefix | title %}
  {{ resource_prefix }}Vpc:
    Type: "AWS::EC2::VPC"
    Properties:
      CidrBlock: "{{ vpc_cidr }}"
      EnableDnsSupport: True
      EnableDnsHostnames: True
      Tags:
        - Key: "Name"
          Value: "{{ prefix + '-vpc' }}"
  {{ resource_prefix }}InternetGateway:
    Type: "AWS::EC2::InternetGateway"
    Properties: 
      Tags:
        - Key: "Name"
          Value: "{{ prefix + '-igw' }}"
        - Key: "org:security:level"
          Value: "public"
  {{ resource_prefix }}InternetGatewayAttachment:
    Type: "AWS::EC2::VPCGatewayAttachment"
    Properties:
      InternetGatewayId: { "Ref": "InternetGateway" }
      VpcId:
        Ref: Vpc
  {{ resource_prefix }}PublicRouteTable:
    Type: "AWS::EC2::RouteTable"
    Properties:
      VpcId:
        Ref: Vpc
      Tags:
        - Key: "Name"
          Value: "{{ prefix + '-public-route-table' }}"
        - Key: "org:security:level"
          Value: "public"
  {{ resource_prefix }}PrivateRouteTable:
    Type: "AWS::EC2::RouteTable"
    Properties:
      VpcId:
        Ref: Vpc
      Tags:
        - Key: "Name"
          Value: "{{ prefix + '-private-route-table' }}"
        - Key: "org:security:level"
          Value: "mixed"
  {{ resource_prefix }}PublicDefaultRoute:
    Type: "AWS::EC2::Route"
    DependsOn: "InternetGatewayAttachment"
    Properties:
      DestinationCidrBlock: "0.0.0.0/0"
      GatewayId: { "Ref": "InternetGateway" }
      RouteTableId: { "Ref": "PublicRouteTable" }
  {{ resource_prefix }}S3Endpoint:
    Type: "AWS::EC2::VPCEndpoint"
    Properties:
      RouteTableIds: 
        - { "Ref" : "PublicRouteTable" }
        - { "Ref" : "PrivateRouteTable" }
      ServiceName: 
        Fn::Sub: "com.amazonaws.${AWS::Region}.s3"
      VpcId:
        Ref: Vpc
  {{ resource_prefix }}VpcFlowLog:
    Type: "AWS::EC2::FlowLog"
    Properties:
      DeliverLogsPermissionArn:
        Fn::Sub: "arn:aws:iam::${AWS::AccountId}:role/${VpcFlowLogRole}"
      LogGroupName:
        Fn::Sub: ${AWS::StackName}/vpc/FlowLog
      ResourceId: { "Ref": "Vpc" }
      ResourceType: "VPC"
      TrafficType: "ALL"
  {{ resource_prefix }}VpcFlowLogRole:
    Type: "AWS::IAM::Role"
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal: 
              Service: [ "vpc-flow-logs.amazonaws.com" ]
            Action: [ "sts:AssumeRole" ]
      Path: "/"
      Policies:
      - PolicyName: CloudWatchLogs
        PolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Action:
              - "logs:CreateLogGroup"
              - "logs:CreateLogStream"
              - "logs:PutLogEvents"
              - "logs:DescribeLogGroups"
              - "logs:DescribeLogStreams"
              Resource:
                Fn::Sub: "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:${AWS::StackName}/vpc/FlowLog*"
  {{ resource_prefix }}VpcFlowLogGroup:
    Type: "AWS::Logs::LogGroup"
    DeletionPolicy: "Delete"
    Properties:
      LogGroupName: 
        Fn::Sub: ${AWS::StackName}/vpc/FlowLog
      RetentionInDays: 7
{% if domain_name or dns_servers %}
  {{ resource_prefix }}DhcpOptions:
    Type: "AWS::EC2::DHCPOptions"
    Properties:
{% if domain_name %}
      DomainName: "{{ domain_name }}"
{% elif vpc_root_domain %}
      DomainName:
        Fn::Sub: "${Vpc}.{{ vpc_root_domain }}"
{% endif %}
{% if dns_servers %}
      DomainNameServers: {{ dns_servers | to_json }}
{% endif %}
      Tags:
        - Key: "Name"
          Value: "{{ prefix + '-dhcpopts' }}"
        - Key: "org:security:level"
          Value: "mixed"
  {{ resource_prefix }}DhcpOptionsAssociation: 
    Type: "AWS::EC2::VPCDHCPOptionsAssociation"
    Properties:
      DhcpOptionsId: { "Ref": "DhcpOptions" }
      VpcId:
        Ref: Vpc
{% endif %}
{% if vpc_root_domain %}
  {{ resource_prefix }}VpcPrivateZone:
    Type: "AWS::Route53::HostedZone"
    Properties: 
      HostedZoneConfig: 
        Comment: 
          Fn::Sub: "${Vpc} private zone"
      HostedZoneTags:
        - Key: "Name"
          Value: 
            Fn::Sub: "${Vpc}.{{ vpc_root_domain }}"
        - Key: "org:security:level"
          Value: "mixed"
      Name:
        Fn::Sub: "${Vpc}.{{ vpc_root_domain }}"
      VPCs:
        - VPCId: { "Ref": "Vpc" }
          VPCRegion: { "Ref": "AWS::Region" }
{% endif %}
{% for domain in (private_domains + public_domains) %}
  {{ domain | regex_replace('[^a-zA-Z0-9]', ' ') | title | regex_replace('\s', '') + 'Zone' }}:
      Type: "AWS::Route53::HostedZone"
      Properties: 
        HostedZoneConfig: 
          Comment: "{{ domain + ' zone' }}"
        HostedZoneTags:
          - Key: "Name"
            Value: "{{ domain }}"
          - Key: "org:security:level"
            Value: "mixed"
        Name: "{{ domain }}"
{% if domain in private_domains %}
        VPCs:
          - VPCId:
              Ref: Vpc
            VPCRegion: { "Ref": "AWS::Region" }
{% endif %}
{% endfor %}
{% for subnet in (public_subnets + private_subnets) %}
{% set outer_loop = loop %}
{% for zone in range(0, az_count) %}
{% set subnet_name = subnet | title + "Subnet" + "ABC"[loop.index0] %}
  {{ resource_prefix }}{{ subnet_name }}:
    Type: "AWS::EC2::Subnet"
    Properties:
      VpcId:
        Ref: Vpc
      CidrBlock: "{{ vpc_cidr | ipsubnet(subnet_size, az_count * outer_loop.index0 + loop.index0) }}"
      AvailabilityZone: 
        Fn::Sub: "${AWS::Region}{{ 'abc'[loop.index0] }}"
      Tags:
        - Key: "Name"
          Value: "{{ subnet | lower }}-{{ 'abc'[loop.index0] }}"
        - Key: "org:security:level"
          Value: "{{ subnet | lower }}"
  {{ resource_prefix }}{{ subnet_name + "Routing" }}:
    Type: "AWS::EC2::SubnetRouteTableAssociation"
    Properties:
{% if subnet in public_subnets %}
      RouteTableId: { "Ref": "PublicRouteTable" }
{% else %}
      RouteTableId: { "Ref": "PrivateRouteTable" }
{% endif %}
      SubnetId: { "Ref": "{{ subnet_name }}" }
{% endfor %}
{% endfor %}
{% endmacro %}

{% macro outputs(
  vpc_cidr,
  public_subnets=['public'],
  private_subnets=['medium','high','management'], 
  az_count=2, 
  subnet_size=24,
  dns_servers=[],
  domain_name='',
  vpc_root_domain='',
  private_domains=[],
  public_domains=[],
  prefix='default')
%}
{% set resource_prefix = prefix | title %}
  {{ resource_prefix }}VpcId:
    Description: "{{ resource_prefix + ' VPC Identifier' }}"
    Value:
      Ref: Vpc
    Export:
      Name: "{{ resource_prefix + 'VpcId' }}"
  {{ resource_prefix + 'VpcCidr' }}:
    Description: "{{ resource_prefix + ' VPC CIDR Block' }}"
    Value: "{{ vpc_cidr }}"
    Export:
      Name: "{{ resource_prefix + 'VpcCidr' }}"
  {{ resource_prefix + 'VpcDnsServer' }}:
    Description: "{{ resource_prefix + ' VPC AWS Provided DNS Server IP Address' }}"
    Value: "{{ vpc_cidr | ipaddr('2') | ipaddr('address') }}"
    Export:
      Name: "{{ resource_prefix + 'VpcDnsServer' }}"
{% if vpc_root_domain %}
  {{ resource_prefix + 'VpcDomain' }}:
    Description: "{{ resource_prefix + ' VPC Domain' }}"
    Value: 
      Fn::Sub: "${Vpc}.{{ vpc_root_domain }}"
    Export:
      Name: "{{ resource_prefix + 'VpcDomain' }}"
  {{ resource_prefix + 'VpcZone' }}:
    Description: "{{ resource_prefix + ' VPC Zone' }}"
    Value: 
      Fn::Sub: "${Vpc}.{{ vpc_root_domain }}."
    Export:
      Name: "{{ resource_prefix + 'VpcZone' }}"
{% endif %}
{% for subnet in (public_subnets + private_subnets) %}
{% set outer_loop = loop %}
{% for zone in range(0, az_count) %}
{% set subnet_name = subnet | title + "Subnet" + "ABC"[loop.index0] %}
  {{ resource_prefix + subnet_name }}:
    Description: "{{ resource_prefix + subnet | title + " Subnet " + "Availability Zone " + "ABC"[loop.index0] }}"
    Value: { "Ref": "{{ subnet_name }}" }
    Export:
      Name: "{{ resource_prefix + subnet_name }}"
  {{ resource_prefix + subnet_name + "Cidr" }}:
    Description: "{{ resource_prefix + " " + subnet | title + " Subnet " + " Availability Zone " + "ABC"[loop.index0] + " CIDR" }}"
    Value: "{{ vpc_cidr | ipsubnet(subnet_size, az_count * outer_loop.index0 + loop.index0) }}"
    Export:
      Name: "{{ resource_prefix + subnet_name + "Cidr" }}"
{% endfor %}
{% endfor %}
{% endmacro %}